.unread-badge,
#unreadBadge,
#unreadBadge1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  height: 1.3em;
  padding: 0 0.4em;
  aspect-ratio: 1 / 1;
  border-radius: 50%;

  margin-left: 6px;
  font-size: 0.85em;
  line-height: 1;
}

.roamstudio-feather .bp3-icon-inbox::before {
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-inbox'%3E%3Cpolyline points='22 12 16 12 14 15 10 15 8 12 2 12'%3E%3C/polyline%3E%3Cpath d='M5.45 5H18.55a2 2 0 0 1 1.98 1.7l1.4 9.4a2 2 0 0 1-1.98 2.3H4.05a2 2 0 0 1-1.98-2.3l1.4-9.4A2 2 0 0 1 5.45 5z'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-inbox'%3E%3Cpolyline points='22 12 16 12 14 15 10 15 8 12 2 12'%3E%3C/polyline%3E%3Cpath d='M5.45 5H18.55a2 2 0 0 1 1.98 1.7l1.4 9.4a2 2 0 0 1-1.98 2.3H4.05a2 2 0 0 1-1.98-2.3l1.4-9.4A2 2 0 0 1 5.45 5z'%3E%3C/path%3E%3C/svg%3E") no-repeat 50% 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  min-width: 16px;
  min-height: 16px;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--co-left-sidebar__icon) !important;
}

.roamstudio-feather .roam-sidebar-content .log-button:hover .bp3-icon-inbox::before {
  background-color: var(--co-menu__item-icon--hover, var(--co-left-sidebar__icon)) !important;
}

.roamstudio-feather .roam-sidebar-content .log-button:active .bp3-icon-inbox::before {
  background-color: var(--co-menu__item-icon--active, var(--co-left-sidebar__icon)) !important;
}

